<nav>
    <ul class=nav>
        <li><a href="{{url_for('view_welcame_page')}}">Home</a> </li>
        <li><a href="{{url_for('completed_transactions')}}">Transactions</a> </li>
        <li><a href="{{url_for('add_image')}}">Galerie</a> </li>
        {% if "user" in session %}
            <li><a href="{{url_for('logout')}}">Logout</a> </li>
        {% else %}
            <li><a href="{{url_for('login')}}">Login</a> </li>
            <li><a href="{{url_for('register')}}">Register</a> </li>
        {% endif %}
    </ul>
</nav>