{% extends "_main.html" %}

{% block title %}Galerie{% endblock %}

{% block main %}
<h2>Galerie</h2>

    {% if "user" in session %}
    <form action="{{ url_for('add_image') }}" method="post" enctype="multipart/form-data">

    {{ form.csrf_token }}
     <table>
            <tr><td>{{ form.image.label }}:</td><td>{{ form.image }}</td></tr>
            <tr><td>{{ form.submit.label }}</td><td> {{ form.submit }}<td></tr>
     </table>
    </form>
    <div class="text-center">
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <span style="color: red;">Chyba pole - {{ field }} hláška - {{ error }}</span><br>
        {% endfor %}
    {% endfor %}
    <hr>
    </div>
    {% endif %}


    {% if images %}
        {% for image in images %}
                <img src="{{ url_for('static', filename='uploads/' + image) }}" alt="{{ image }}"
                width="300" height="200">
        {% endfor %}
    {% endif %}

    <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
{% endblock %}